nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.result {
  margin-left: 500px;
  margin-top: 70px;
}

nav li {
  float: left;
}
.sbtn {
  margin: 100px;
  font-size: 50px;
  width: 600px;
  height: 100px;
}
.footer {
  text-align: center;
  margin-top: 50px;
}
.btn-li {
  list-style-type: none;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  margin-left: 550px;
  margin-top: 200px;
}
.btn-warning {
  margin-top: 20px;
  margin-left: 90px;
}
